body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.artist-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  padding: 3rem 10%;
  box-sizing: border-box;
  // justify-items: center;
}

.artist-card {
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #111;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  // width: 100%;
  // max-width: 220px;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
  }

  h3 {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #333;
    flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  }

  &:hover img {
    transform: scale(1.05);
  }
}

@media (max-width: 1200px) {
  .artist-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .artist-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .artist-grid {
    grid-template-columns: 1fr;
    padding: 2rem 5%; // Menos margen en móvil
  }

  .artist-card {
    max-width: 100%;
  }
}
